// Importación de configuraciones (No generan CSS por sí solas)
// 1. TODAS las importaciones @use arriba del todo
@use 'settings/variables' as *;
@use 'atoms/buttons';

// 2. Después, el resto de estilos globales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-main;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}