@use '../settings/variables' as *;

.a-btn-copy {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    background-color: $color-surface;
    color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 4px;
    font-family: $font-main;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: $color-primary;
        color: $color-bg;
    }

    &--success {
        border-color: $level-easy;
        color: $level-easy;
    }
}